/public/.well-known
/public/uploads
/runtime
/vendor
.env_demo
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
composer.lock
.phpstorm.meta.php
docker
.DS_Store
.env
